In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
pwd

'C:\\Users\\Mohan\\Desktop'

In [3]:
os.chdir('C:\\Users\\Mohan\\Desktop')

In [4]:
df1 = pd.DataFrame(data=np.arange(1,17).reshape(4,4), columns=list('ABCD'), index=list('1234'))

In [5]:
df1

    A   B   C   D
1   1   2   3   4
2   5   6   7   8
3   9  10  11  12
4  13  14  15  16

In [6]:
df1.describe()

               A          B          C          D
count   4.000000   4.000000   4.000000   4.000000
mean    7.000000   8.000000   9.000000  10.000000
std     5.163978   5.163978   5.163978   5.163978
min     1.000000   2.000000   3.000000   4.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     7.000000   8.000000   9.000000  10.000000
75%    10.000000  11.000000  12.000000  13.000000
max    13.000000  14.000000  15.000000  16.000000

In [8]:
df_2 = pd.DataFrame(data = np.arange(20, 32).reshape(3, 4), columns = list('WWWW'),  index = list('ABC')) 
print (df_2)

    W   W   W   W
A  20  21  22  23
B  24  25  26  27
C  28  29  30  31

In [10]:
#From 2-D Array with all defaults
df_1 = pd.DataFrame(np.arange(20, 32).reshape(3, 4))
print (df_1)

    0   1   2   3
0  20  21  22  23
1  24  25  26  27
2  28  29  30  31

In [15]:
dates = pd.date_range('20170101', periods=3)
df_2 = pd.DataFrame(np.arange(20,32).reshape(3,4), index = dates, columns=list('ABCD'))

In [16]:
print (df_2)

             A   B   C   D
2017-01-01  20  21  22  23
2017-01-02  24  25  26  27
2017-01-03  28  29  30  31

In [17]:
d = {'Integers': np.random.randint(50, 100, 8),
    'Floats': (np.random.randn(8) * 100).round(2),
    'Booleans': [True, False, True, False, True, False, True, False],
    'Strings': list('ABCD' * 2)}

In [19]:
df_3 = pd.DataFrame(data=d, index = ['row_' + str(i) for i in range(8)])

In [20]:
print (df_3)

       Booleans  Floats  Integers Strings
row_0      True  -16.69        58       A
row_1     False    1.55        68       B
row_2      True   48.23        75       C
row_3     False -103.43        85       D
row_4      True   88.82        94       A
row_5     False  -28.76        64       B
row_6      True  -21.98        71       C
row_7     False -197.37        87       D

In [21]:
print (df_3.T)

          row_0  row_1  row_2   row_3  row_4  row_5  row_6   row_7
Booleans   True  False   True   False   True  False   True   False
Floats   -16.69   1.55  48.23 -103.43  88.82 -28.76 -21.98 -197.37
Integers     58     68     75      85     94     64     71      87
Strings       A      B      C       D      A      B      C       D

In [22]:
type(df_3)

pandas.core.frame.DataFrame

In [23]:
df_3.shape

(8, 4)

In [24]:
df_3.values

array([[True, -16.69, 58, 'A'],
       [False, 1.55, 68, 'B'],
       [True, 48.23, 75, 'C'],
       [False, -103.43, 85, 'D'],
       [True, 88.82, 94, 'A'],
       [False, -28.76, 64, 'B'],
       [True, -21.98, 71, 'C'],
       [False, -197.37, 87, 'D']], dtype=object)

In [25]:
df_3.info

<bound method DataFrame.info of        Booleans  Floats  Integers Strings
row_0      True  -16.69        58       A
row_1     False    1.55        68       B
row_2      True   48.23        75       C
row_3     False -103.43        85       D
row_4      True   88.82        94       A
row_5     False  -28.76        64       B
row_6      True  -21.98        71       C
row_7     False -197.37        87       D>

In [26]:
df_3.ndim

2

In [27]:
df_3.dtypes

Booleans       bool
Floats      float64
Integers      int32
Strings      object
dtype: object

In [29]:
df_3.get_dtype_counts()

bool       1
float64    1
int32      1
object     1
dtype: int64

In [32]:
df_3.Floats

row_0    -16.69
row_1      1.55
row_2     48.23
row_3   -103.43
row_4     88.82
row_5    -28.76
row_6    -21.98
row_7   -197.37
Name: Floats, dtype: float64

In [34]:
my_df = pd.DataFrame(data = np.random.randn(16).round(2).reshape(4, 4), 
                  index=['r'+str(i) for i in range(1, 5)],
                  columns=['c'+str(i) for i in range(1, 5)])

In [35]:
print (my_df)

      c1    c2    c3    c4
r1  0.67 -0.49 -1.08  1.02
r2  0.94  0.78 -1.17 -0.99
r3  0.67  0.26  0.85 -0.25
r4  0.10  0.15  0.37 -0.83

In [36]:
print (my_df.loc[['r1', 'r2'], ['c3', 'c4']])

      c3    c4
r1 -1.08  1.02
r2 -1.17 -0.99

In [39]:
print (my_df.loc[['r1','r2']])

      c1    c2    c3    c4
r1  0.67 -0.49 -1.08  1.02
r2  0.94  0.78 -1.17 -0.99

In [42]:
my_df.loc[(my_df['c1'] == 0.67)]

      c1    c2    c3    c4
r1  0.67 -0.49 -1.08  1.02
r3  0.67  0.26  0.85 -0.25